/*****************************************************
## Variables
******************************************************/

:root {
	--color-dark-blue: #08253b;
	--color-green: #08A334;
	--color-red: #ff373c;
}

/*****************************************************
## General
******************************************************/

body {
	-webkit-text-size-adjust: none; /* Prevents iOS from messing with the font sizes */
	background: linear-gradient(to right, var(--color-dark-blue), #143f60);
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0 auto;
	padding-bottom: 7px; /* Prevents cutting edges on certain phones */
}

body.noOverflow {
	overflow: hidden;
}

* {
	box-sizing: border-box;
	line-height: normal;
}

a {
	color: white;
}

/* Helps screen readers and rendering of hidden content */
.hidden {
	position: absolute !important;
	left: -9999px !important;
	top: -9999px !important;
}

/*****************************************************
## Loading
******************************************************/

#loading {
	padding: 10px;
	text-align: center;
}

/*****************************************************
## Search
******************************************************/

#search {
	border-radius: 0; /* Reset */
	border: none; /* Reset */
	font-size: 18px;
	height: 40px; /* Applies the same height as the words below */
	padding: 8px 7px;
	position: fixed;
	width: 100%;
}

/*****************************************************
## Dictionary
******************************************************/

#dictionary {
	padding-top: 40px; /* Makes room for the search field */
}

#dictionary div {
	cursor: pointer;
	font-size: 18px;
	padding: 8px 7px;

	-webkit-tap-highlight-color: transparent;
}

#dictionary div:nth-child(odd) {
	background: linear-gradient(to right, var(--color-dark-blue), #1b496c);
}

#dictionary div img {
	width: 13px;
}

/*****************************************************
## Definition
******************************************************/

#definition {
	font-size: 20px;
}

#definition > div {
	cursor: default;
}

#definition .label {
	background-color: var(--color-green);
	border-radius: 5px;
	font-size: 12px;
	margin-left: 8px;
	padding: 4px 12px;
	white-space: nowrap;

	position: relative;
	top: -3px;
}

#definition #definitionText b {
	color: var(--color-green); /* Definition separator */
}

#definition .label#showComment {
	background-color: var(--color-green);
	cursor: pointer;
	display: inline-block;
	margin-left: 0;
	position: static;

	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#definition #comment {
	margin-top: 4px;
}

/*****************************************************
## Popups
******************************************************/

.popup {
	background-color: rgba(8,37,59,0.95);
	cursor: pointer; /* Enables onclick event on iOS */
	display: flex;
	height: 100%;
	overflow-y: scroll;
	padding: 15px;
	width: 100%;

	position: fixed;
	left: 0;
	top: 0;

	-webkit-tap-highlight-color: transparent;
}

.popup > div {
	cursor: default;
	margin: auto 0; /* Flexbox auto margins */
	width: 100%;
}

.popup p:first-of-type {
	margin-top: 0;
}

/*****************************************************
## Tips
******************************************************/

.tip {
	font-size: 12px;
	width: 100%;

	position: fixed;
	z-index: 20;

	display: flex;
	align-items: center;
	justify-content: center;

	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.tip#infoTip {
	background-color: var(--color-red);
	height: 40px;
	top: -40px;
}

.tip#closeTip {
	bottom: 15px;
}

/*****************************************************
## Menu
******************************************************/

#menuButton {
	background-color: var(--color-green);
	border-radius: 50%;
	cursor: pointer;
	height: 65px;
	width: 65px;

	position: fixed;
	bottom: 15px;
	right: 15px;

	display: flex;
	align-items: center;
	justify-content: center;

	-webkit-tap-highlight-color: transparent;
}

#menuButton img {
	width: 30px;
}

#menuButton #closeMenu {
	display: none;
}

#menuButton.isOpen {
	z-index: 20;
}

#menuButton.isOpen #closeMenu {
	display: block;
}

#menuButton.isOpen #openMenu {
	display: none;
}

#menu div {
	cursor: pointer;
	font-size: 23px;
	padding: 10px;
	text-align: center;
	width: 100%;
}

/*****************************************************
## Buttons
******************************************************/

.button {
	background-color: var(--color-green);
	border-radius: 2px;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 7px;
	text-align: center;

	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.button:last-of-type {
	margin-bottom: 0;
}

/*****************************************************
## Download
******************************************************/

#downloadPopup img {
	width: 100%;
}

#downloadPopup #ios {
	line-height: 0; /* Fixes random space below image */
}

/*****************************************************
## Contact
******************************************************/

#contactPopup input, #contactPopup textarea {
	border-radius: 2px;
	border: none; /* Reset */
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 7px;
	width: 100%;
}

#contactPopup input {
	margin-bottom: 5px;
}

#contactPopup textarea {
	height: 70px;
}
