/*****************************************************
## Variables
******************************************************/

:root {
	--color-dark-blue: #08253b;
	--color-bright-blue: #0b3049;
	--color-red: #A31818;
	--color-green: #08A334;
}

/*****************************************************
## General
******************************************************/

body {
	background-color: var(--color-dark-blue);
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0 auto;
	padding-bottom: 7px; /* Prevents cutting edges on certain phones */
}

body.noOverflow {
	overflow: hidden;
}

* {
	box-sizing: border-box;
	line-height: normal;
}

a {
	color: white;
}

/* Helps screen readers and rendering of hidden content */
.hidden {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

/*****************************************************
## Tips
******************************************************/

.tip {
	font-size: 12px;
	width: 100%;

	position: fixed;
	z-index: 20;

	display: flex;
	align-items: center;
	justify-content: center;

	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.tip#infoTip {
	background-color: var(--color-red);
	height: 40px;
	top: -40px;
}

.tip#closeTip {
	bottom: 15px;
}

/*****************************************************
## Popups
******************************************************/

.popup {
	background-color: rgba(0,0,0,0.9);
	overflow-y: scroll; /* Overflow scrolling */
	width: 100%;

	position: fixed;
	bottom: 0;
	top: 0;
	z-index: 10;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.popup .popupContent {
	cursor: default;
	min-height: 0; /* Overflow scrolling */
	padding: 0 15px;
}

.popup .popupContent p:first-of-type {
	margin-top: 15px; /* Flexbox padding */
}

/*****************************************************
## Buttons
******************************************************/

.button {
	background-color: var(--color-red);
	border-radius: 2px;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 7px;
	text-align: center;

	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.button:last-of-type {
	margin-bottom: 15px; /* Flexbox padding */
}

.button#adminButton {
	background-color: transparent;
	cursor: default;
	height: 30px;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 30px;
}

/*****************************************************
## Search
******************************************************/

#search {
	border-radius: 0; /* Reset */
	border: none; /* Reset */
	font-size: 18px;
	height: 40px; /* Applies the same height as the words below */
	padding: 8px 7px;
	position: fixed;
	width: 100%;
}

/*****************************************************
## Dictionary
******************************************************/

#dictionary {
	padding-top: 40px; /* Makes room for fixed search field */
}

#dictionary div {
	cursor: pointer;
	font-size: 18px;
	padding: 8px 7px;

	-webkit-tap-highlight-color: transparent;
}

#dictionary div:nth-child(odd) {
	background-color: var(--color-bright-blue);
}

#dictionary div.updated {
	font-weight: bold;
}

/*****************************************************
## Definitions
******************************************************/

.definition {
	cursor: pointer; /* Enables onclick event on iOS */
	font-size: 20px;

	-webkit-tap-highlight-color: transparent;
}

.definition .label {
	background-color: var(--color-dark-blue);
	border-radius: 10px;
	font-size: 12px;
	margin-left: 8px;
	padding: 3px 10px;
	position: relative;
	top: -3px;
	white-space: nowrap;
}

.definition .label.inBible {
	background-color: var(--color-red);
}

.definition .label.showComment {
	background-color: var(--color-green);
	cursor: pointer;
	display: inline-block;
	margin-bottom: 4px;
	margin-left: 0;
	position: static;
}

/*****************************************************
## Actions
******************************************************/

.actionButton {
	background-color: var(--color-red);
	border-radius: 50%;
	cursor: pointer;
	height: 60px;
	width: 60px;

	position: fixed;
	bottom: 15px;

	display: flex;
	align-items: center;
	justify-content: center;

	-webkit-tap-highlight-color: transparent;
}

.actionButton img {
	width: 27px;
	-webkit-tap-highlight-color: transparent;
}

/*****************************************************
## Menu
******************************************************/

#menuButton {
	right: 15px;
}

#menuButton.isOpen {
	z-index: 20;
}

#menuButton #closeMenu {
	display: none;
}

#menuButton.isOpen #closeMenu {
	display: block;
}

#menuButton.isOpen #openMenu {
	display: none;
}

#menu .popupContent div {
	cursor: pointer;
	font-size: 23px;
	padding: 10px;
	text-align: center;
}

/*****************************************************
## Sort
******************************************************/

#sortButton {
	background-color: var(--color-green);
	right: 90px;
}

#sortButton img {
	width: 21px;
}

/*****************************************************
## Download
******************************************************/

#downloadPopup img {
	width: 100%;
}

#downloadPopup #ios {
	line-height: 0; /* Image-fix */
}

/*****************************************************
## Contact
******************************************************/

#contactPopup input, #contactPopup textarea {
	border-radius: 2px;
	border: none; /* Reset */
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 7px;
	width: 100%;
}

#contactPopup input {
	margin-bottom: 5px;
}

#contactPopup textarea {
	height: 70px;
}

/*****************************************************
## Loading
******************************************************/

#loading {
	padding: 10px;
	text-align: center;
}
