/*****************************************************
## Variables
******************************************************/

:root {
	--color-dark-blue: #08253b;
	--color-bright-blue: #0b3049;
	--color-dark-red: #bc4b50;
	--color-bright-red: #f04e51;
	--color-yellow: #e5d948;
}

/*****************************************************
## General
******************************************************/

body {
	margin: 0 auto;
	padding-bottom: 7px; /* Prevent cutting edges on certain phones */
	background-color: var(--color-dark-blue);
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

* {
	box-sizing: border-box;
	line-height: normal;
}

a {
	color: white;
}

/*****************************************************
## Overlay
******************************************************/

.overlay {
	display: none;
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

/*****************************************************
## Tip
******************************************************/

.tip {
	display: none;
	width: 100%;
	font-size: 12px;
	text-align: center;
	position: fixed;
	bottom: 15px;
	left: 0;
	z-index: 10;
}

/*****************************************************
## Popups
******************************************************/

.popup {
	display: none;
	width: 90%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
}

/*****************************************************
## Buttons
******************************************************/

.button {
	background-color: var(--color-dark-red);
	margin-bottom: 5px;
	padding: 7px;
	border-radius: 2px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:last-of-type {
	margin-bottom: 0;
}

/*****************************************************
## Search
******************************************************/

.search {
	width: 100%;
	height: 40px; /* For getting the same height as the words below */
	padding: 8px 7px;
	font-size: 18px;
	border-radius: 0;
	border: none;
}

/*****************************************************
## Words
******************************************************/

.word .title {
	padding: 8px 7px;
	font-size: 18px;
	cursor: pointer;
}

.word:nth-child(odd) .title {
	background-color: var(--color-bright-blue);
}

/*****************************************************
## Definitions
******************************************************/

.word .definition {
	font-size: 20px;
}

/*****************************************************
## Menu
******************************************************/

.menuButton {
	background-color: var(--color-dark-red);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 29px;
	cursor: pointer;
	position: fixed;
	bottom: 15px;
	right: 15px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.menuButton.isOpen {
	z-index: 20;
}

.menuButton .fa-times {
	display: none;
}

.menu div {
	padding: 10px;
	font-size: 23px;
	text-align: center;
	cursor: pointer;
}

/*****************************************************
## Contact
******************************************************/

.contact input, .contact textarea {
	width: 100%;
	padding: 7px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	border-radius: 2px;
	border: none;
}

.contact input {
	margin-bottom: 5px;
}

.contact textarea {
	height: 70px;
}

/*****************************************************
## Responsive
******************************************************/

/* Quick fix for PC */
@media only screen and (min-width: 700px) {
	body, .popup {
		width: 50%;
	}

	.menuButton {
		right: 26%;
	}
}
