/*****************************************************
## For tablets and up (768px)
******************************************************/

/* Everything is increased by 7px */

@media only screen and (min-width: 768px) {
	body, #contactPopup input, #contactPopup textarea {
		font-size: 23px;
	}

	#loading {
		padding: 17px;
	}

	#search, #dictionary div {
		font-size: 25px;
		padding: 15px 14px;
	}

	#search {
		height: 63px; /* Applies the same height as the words below */
	}

	#dictionary {
		padding-top: 63px; /* Makes room for the search field */
	}

	#definition {
		font-size: 27px;
	}

	#definition .label {
		font-size: 19px;
		margin-left: 15px;
	}

	.popup {
		padding: 22px;
	}

	.tip {
		font-size: 19px;
	}

	.tip#infoTip {
		height: 63px;
		top: -63px;
	}

	.tip#closeTip {
		bottom: 22px;
	}

	#menuButton {
		bottom: 22px;
		height: 90px;
		right: 22px;
		width: 90px;
	}

	#menuButton img {
		width: 40px;
	}

	#menu div {
		font-size: 30px;
		padding: 17px;
	}

	.button {
		padding: 14px;
	}

	#contactPopup input, #contactPopup textarea {
		padding: 14px;
	}

	#contactPopup textarea {
		height: 100px;
	}
}
